[access]
	inheritFrom = craftbukkit-plugins
[access "refs/*"]
	owner = group CraftBukkit-Plugins Admins
	read = group Anonymous Users
	read = group Registered Users
[project]
	description = DragonIRC is an (hopefully) easy to use plugin to link a Minecraft server running CraftBukkit to any IRC server/network.
